* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

main {
  width: 100%;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  line-height: 0;
  background-image: url(/bg.jpeg);
  background-position: center top;
  background-size: cover;
  height: 100%;
  width: 100%;
  position: absolute;
  inset-block-start: 0px;
  inset-inline-start: 0px;
  color: rgb(68, 68, 68);
  font-size: 16px;
  line-height: 24px;
}

.content {
  width: 100%;
  max-width: 720px;
  margin: 32px auto 96px auto;
  min-height: 100%;
  display: flex;
  flex-direction: column;
  -webkit-box-pack: center;
  justify-content: center;
  align-items: center;
  z-index: 1;
  align-content: center;
}

.backdrop {
  width: 100%;
  min-height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  opacity: 0.85;
}

h1 {
  color: black;
  font-weight: 400;
  font-size: 36px;
  line-height: 44px;
  margin-bottom: 12px;
}

h1,
p {
  text-align: center;
}

p {
  color: rgba(0, 0, 0, 0.7);
  font-size: 20px;
  line-height: 28px;
  overflow-wrap: break-word;
  margin-bottom: 26px;
}

a:not(#didomi-notice a) {
  position: relative;
  font-family: inherit;
  line-height: initial;
  font-weight: 700;
  cursor: pointer;
  transition-duration: 0.1s;
  transition-property: background-color, color, border-color, opacity,
    box-shadow;
  transition-timing-function: ease-out;
  outline: none;
  border: 1px solid transparent;
  margin: 0px;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 12px 0px;
  padding-block: 7px;
  padding-inline: 14px;
  min-height: 40px;
  background-color: rgb(4, 175, 37);
  color: rgb(255, 255, 255);
  border-radius: 4px;
  text-decoration: none;
  font-size: 20px;
}

a:hover {
  background-color: rgb(42, 187, 70);
}

.btn-wrapper {
  margin-top: 16px;
}

.img-container {
  z-index: 10;
  position: absolute;
  top: 32px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.disclaimer {
  margin-top: 30px;
  font-size: 8px;
}

@media (max-width: 600px) {
  .content {
    padding-inline: 40px;
  }

  h1 {
    font-size: 30px;
  }

  p {
    font-size: 16px;
    line-height: 24px;
  }

  a:not(#didomi-notice a) {
    width: 100%;
    text-align: center;

    padding-block: 10px;
    padding-inline: 18px;
    margin-top: 0;
    min-height: 48px;
  }
  .btn-wrapper {
    background-color: white;
    position: absolute;
    display: grid;
    align-content: center;
    bottom: 0;
    width: 100%;
    min-height: 48px;
    height: -moz-fit-content;
    height: 80px;
    align-items: center;
    justify-items: center;
    padding: 16px;
  }

  .disclaimer {
    width: 102%;
    position: absolute;
    bottom: 50px;
  }
}
